
* {
    margin: 0;
    padding: 0;
}
:root{
 --divsBgColor:#FFF4D2
}
.body { 
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    
}

.NavBar {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1; 
}
.Content {
    grid-column: 3 / span 8;
    grid-row: 2 / span 10;
}

.LeftPanel {
    grid-column: 1 / span 2;
    grid-row: 2 / span 10;
    
}

.RightPanel {
    grid-column: 11 / span 2;
    grid-row: 2 / span 10;
    
}

.Footer {
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
    
}

.el{
    background: var(--divsBgColor);
    box-shadow: 15px 5px 90px gray;
    transition: box-shadow 1s ease-in-out;
}

/* Flex Nav Style */
.FlexNavItems {
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 100%;  
} /* von Eltern */

.LeftNaveSide {
    display: flex;
    gap: 40px;
    align-items: center;
}